.today-weather {
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    padding: 1rem;
}

.todays-weather-data {
    display: flex;
    gap: 2rem;
    position: relative;
}

.weather-img {
    flex-basis: 20%;
    width: 100%;
    margin-top: -1.8rem;
}

.todays-weather-data .weather-data-item:nth-child(3) {
    flex-basis: 20%;
}

.todays-weather-data svg {
    position: absolute;
    top: .2rem;
    right: .5rem;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
}

.weather-data-item h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

.weather-data-item span {
    font-size: .7rem;
    font-weight: 400;
    margin-left: .1rem;
}

.weather-data-item p {
    font-size: .75rem;
}

.todays-weather-details {
    width: 2rem;
    min-width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
}

.todays-weather-details::-webkit-scrollbar {
    display: none;
}

.detail-card {
    background-color: var(--main-color);
    color: var(--color-white);
    text-align: center;
    border-radius: var(--border-radius);
    padding: .8rem .3rem;
}

.detail-card img {
    cursor: pointer;
}

.detail-card p {
    font-size: .9rem;
    font-weight: 600;

}

@media screen and (max-width:650px) {
    .todays-weather-details {
        margin-top: 1rem;
    }
}

@media screen and (max-width:500px) {
    .todays-weather-data {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .todays-weather-data .weather-data-item:nth-child(2) {
        flex-basis: 65%;
        order: 2;
    }
    .todays-weather-data .weather-data-item:nth-child(3) {
        order: 1;
    }

    .weather-data-item h2 {
        font-size: 1.4rem;
    }

    .weather-img {
        flex-basis: 20%;
        width: 100%;
        margin-top: -1.5rem;
    }
}