.astronomy-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.astronomy-item{
    flex: 1;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    text-align: center;
    padding-block: 1.5rem;
    width: 100%;
}

.astronomy-item h3{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .7rem;
}

.astronomy-data{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
}

.astronomy-data svg{
    font-size: 1.7rem;
    margin-bottom: .2rem;
}

.astronomy-data p{
    font-size: 1rem;
    font-weight: 400;
}


@media screen and (max-width:850px) {
    .astronomy-container {
        flex-direction: row;
    }
}
@media screen and (max-width:550px) {
    .astronomy-container {
        flex-direction: column;
    }
}