.container {
  background-color: var(--bg-primary);
  width: 80%;
  margin-inline: auto;
  border-radius: 1.5rem;
  padding: 1rem;
  min-height: 90vh;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.main-left {
  flex-basis: 64%;
}

.main-right {
  flex-basis: 34%;
}