@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

.app-heading {
  text-align: center;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.app-heading h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 500;
}

.app-heading p {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: 500;
}

.container {
  background-color: var(--bg-primary);
  margin-inline: auto;
  padding: 1rem;
  min-height: 100vh;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.main-left {
  flex-basis: 64%;
}

.main-right {
  flex-basis: 34%;
}


@media screen and (max-width:850px) {
  .main {
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width:500px) {
  .app-heading h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .app-heading p {
    font-size: .85rem;
  }
}

@media screen and (max-width:350px) {
  .app-heading h1 {
    font-size: 2rem;
    line-height:2.5rem;
  }

  .app-heading p {
    font-size: .85rem;
  }
}